fastapi==0.115.8
langchain==0.3.19
langchain_core==0.3.39
langchain_groq==0.2.4
langgraph==0.2.74
Pillow==11.1.0
pydantic_settings==2.8.0
pytest==8.3.4
python-dotenv==1.0.1
qdrant_client==1.13.2
Requests==2.32.3
sentence_transformers==3.4.1
streamlit==1.42.2
unstructured==0.16.23
uvicorn==0.34.0
